#tamamBtn {
    -fx-text-fill: blue;
    -fx-background-color: yellow;
}

#cikisBtn {
    -fx-text-fill: red;
    -fx-background-color: green;
    -fx-font-size: 20
}

#sceneHbxId{
    -fx-background-color: red;
    -fx-text-fill: brown;
}

/*main2*/
#root {
    -fx-background-color: white;
}

#btnMerhaba {
    -fx-background-color: red;
}

.btnSelam {
    -fx-background-color: pink;
}